.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header {
  border: 1px solid black;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content {
  border: 1px solid black;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.sidebar {
  border: 1px solid black;

  grid-column: 1 / 2;
  grid-row: 1 / 3;

  background-color: #1992D4;

}

.sidebar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-header {
  color: white;
  text-align: center;
  font-size: 35px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}